@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.main-title {
  font-size: 5em;
  text-shadow: 0 0 200px white;
}

.typed-cursor {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
